<p><label for="quote_text">Text</label><br/>
<%= f.text_area 'text'  %></p>

<p><label for="quote_author">Author</label><br/>
<%= f.text_field 'author'  %></p>

<p><label for="quote_source_url">Source url</label><br/>
<%= f.text_field 'source_url'  %></p>

<%= submit_tag 'Create!' %>