<p><label for="quote_text">Text</label><br/>
<%= text_area 'quote', 'text'  %></p>

<p><label for="quote_author">Author</label><br/>
<%= text_field 'quote', 'author'  %></p>

<p><label for="quote_source_url">Source url</label><br/>
<%= text_field 'quote', 'source_url'  %></p>