<h2><span>Add a new quote</span></h2>
<%= form_tag quotes_path, :id => 'new_quote', :class => 'quote_form' do %>
  <label for="text">Quote</label>
  <textarea id="text" name="quote[text]"></textarea>
  <label for="author">By</label>
  <input type="text" id="author" name="quote[author]"/>
  <label for="source">From</label>
  <input type="text" id="source" name="quote[source]"/>
  <input type="submit" value="Add quote!"/>
<% end %>
