/* mini-reset. Mamuso style */

body {
    font-family: Georgia, serif;
    font-size: x-small;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    text-align: center;
    background-image:url(/images/bg2.png);
    color:#373c52;
}

*{
    margin: 0;
    padding: 0;
}

a:focus { outline: none; }

a {
  color:inherit;
}

/* Layout */

#main {
  width: 80.0em;
  margin: 0 auto;
  text-align: left;
}

#header {
  padding:2.0em 0;
}

#header h1 {
  float:left;
  font-size:x-small;
  padding:1.25em 2.50em;
  background-color:white;
}

#header h1 a {
  display:block;
  width:23.9em;
  height:8.1em;
  background:white url(/images/logo.png) no-repeat scroll center center;
}

#header h1 a span{
  display:none;
}

#header .nav {
  float:right;
  padding:1.0em 2.0em;
  background-color:white;
  font-size:1.5em;
}

#content {
  clear:left;
  padding-top:2.0em;
}

#content h2 {
  font-size:x-small;
  background-color:white;
  margin:0 0 2.5em 4.0em;
  padding:0.8em 2.5em;
  float:left;
}

#content h2 span {
  font-weight:lighter;
  font-size:3.5em;
  color:#686F7E;
}

/* Forms */

input[type=text], textarea {
  border:solid 2px #e3e5e8;
  padding:0.3em;
}

input[type=text]:focus, textarea:focus {
  border-color:#cdd0d5;
}

/* Quotes */

.quotes {
  clear:left;
}

.quote {
  width:47.5em;
  padding:2.5em 3em 2em;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:3.5em;
  position:relative;
  background:white;
}

.quote blockquote {
  text-align:justify;
  margin-bottom:0.7em;
  line-height:1.66em;
}

.quote blockquote p {
  margin-bottom:0.7em;
}

.quote_foot {
  text-align:right;
  width:70%;
  margin-left:30%;
  font-size:1.8em;
  line-height:1.5em;
}

.quote .author, .quote .source {
  white-space: nowrap;
  color:#686F7E;
}

.quote .source {
  font-style:italic;
}

.quote.extra-small { width:34.0em; }
.quote.extra-small blockquote {
  font-size:2.8em;
  line-height:1.4em;
  text-align:center;
}

.quote.small { width:40.0em; }
.quote.small blockquote {
  font-size:2.5em;
  
  line-height:1.4em;
  text-align:center;
}

.quote.medium blockquote { font-size:1.9em; }

.quote.large blockquote { font-size:1.6em; }

.quote.extra-large blockquote { font-size:1.4em; }

.quote:nth-child(5n+1) {
  left:-6.0em;
}

.quote:nth-child(5n+2) {
  left:3.0em;
}

.quote:nth-child(5n+3) {
  left:-4em;
}

.quote:nth-child(5n+4) {
  left:6.0em;
}

.quote:nth-child(5n+5) {
  left:0em;
}

.quote ul.actions {
  display:none;
  position:absolute;
  bottom:2.3em;
  background-color:#EEE;
  padding:0.2em 1em 0.2em;
  -moz-border-radius:0.8em;
  -webkit-border-radius:0.8em;
}

.quote ul.actions li {
  list-style-type: none;
  font-size:1.15em;
  color:#777;
}

form.quote_form {
  padding:2em 2.5em;
  background-color:white;
  width:45.0em;
  margin:0 auto;
  clear:left;
  text-align:right;
}

form.quote_form input[type=text] {
  width:190px;
}

form.quote_form input[type=text], form.quote_form textarea {
  font-family:inherit;
}

form.quote_form label {
  font-size:1.5em;
  float:left;
  margin:0.3em 0.5em 0em 166px;
  width:5em;
}

form.quote_form label[for=text] {
  display:none;
}

form.quote_form textarea {
  width:440px;
  height:120px;
}

form.quote_form label, form.quote_form input, form.quote_form textarea{
  display:block;
  margin-bottom:1.0em;
}

form.quote_form input[type=submit] {
  display:inline;
  margin-bottom:0;
  margin-top:1.0em;
}

.ui-autocomplete {
  position:absolute;
  background-color:white;
  border:2px solid #E3E5E8;
  -moz-box-shadow:2px 2px 4px #AAAAAA;
  -webkit-box-shadow:2px 2px 4px #AAAAAA;
  padding:0 3px;
}

.ui-menu-item {
  text-align: left;
  list-style: none;
  color:#373C52;
}

.ui-menu-item a {
  display:block;
  padding:5px;
  margin:0 -3px;
  font-size:11px;
}

.ui-menu-item a.ui-state-hover,
.ui-menu-item a.ui-state-active {
  background-color: #E3E5E8;
}

/* Login page */

#sign_in_notice {
  clear:left;
  padding:1.8em 2.5em;
  background-color:white;
  margin-bottom:2.5em;
  width:44.0em;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

#sign_in_notice p {
  font-size:1.6em;
  line-height:1.6em;
}

form#providers_signin {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:410px;
}

form#providers_signin button {
  background-color:white;
  border:0;
  width:165px;
  height:55px;
  margin:0 2.0em 2.0em;
  display:block;
  float:left;
  cursor:pointer;
  background-position: center bottom;
  
  font-family: inherit;
  font-size: inherit;
  font-variant: inherit;
  font-style: inherit;
  font-weight: inherit;
}

form#providers_signin button:hover {
  background-position: center top;
}

form#providers_signin button#login_with_google {
  background-image: url(/images/login_providers/google.png);
}

form#providers_signin button#login_with_yahoo {
  background-image: url(/images/login_providers/yahoo.png);
}

form#providers_signin button#login_with_flickr {
  background-image: url(/images/login_providers/flickr.png);
}

form#providers_signin button#login_with_facebook {
  background-image: url(/images/login_providers/facebook.png);
}

form#providers_signin button span {
  display:none;
}

form#providers_signin button span {
  font-size:2.5em;
}

form#openid_signin label {
  font-size:1.3em;
}

input#openid_identifier {
  width:17.0em;
  background: #FFF url(/images/login_providers/openid.png) no-repeat scroll left bottom;
  padding-left:2.2em;
}

input#openid_identifier:focus  {
  background-position: left top;
}

form#openid_signin {
  clear:left;
  background-color:white;
  padding:1.8em 2.5em;
  width:42.0em;
  text-align:center;
  margin: 3.0em auto;
}

form#openid_signin label, form#openid_signin input {
  margin-right:0.5em;
}