<%= form_tag users_path do %>
  <label for="nickname">Confirm your nickname</label>
  <input type="text" id="nickname" name="user[nickname]" value="<%= @user[:nickname] %>"/>
  <input type="submit" value="Register!"/>
<% end %>
