<form method="post" action="{{quote_path}}" id="edit_quote">
  <input type="hidden" name="_method" value="PUT" />
  <label for="text">Quote</label>
  <textarea id="text" name="text">{{text}}</textarea>
  <label for="author">By</label>
  <input type="text" id="author" name="author" value="{{author}}"/>
  <label for="source">From</label>
  <input type="text" id="source" name="source" value="{{source}}"/>
  <input type="submit" value="Amend quote"/>
</form>