<!DOCTYPE html>
<html lang="en">
  <head>
    <title>quot.ly</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <script src="/fonts/cufon-yui.js" type="text/javascript"></script>
		<script src="/fonts/marcelle_700.font.js" type="text/javascript"></script>
		<script src="/javascripts/jquery-1.4.2.min.js" type="text/javascript"></script>
		<script src="/javascripts/jquery-ui-1.8.custom.min.js" type="text/javascript"></script>
		<script src="/javascripts/application.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('#content h2 span');
		</script>
  </head>
  <body>
    <div id="main">
      <div id="header">
        <h1>
          <a href="/"><span>quot.ly</span></a>
        </h1>
        <div class="nav">
          {{# logged_in? }}
          <a href="/quotes/new">Add new quote</a>
          ~
          <a href="/logout">Logout</a>
          ~
          <a href="/{{ nickname }}">Your quotes</a>
          {{/ logged_in? }}

          {{# anonymous? }}
          <a href="/login">Login or Register</a>
          {{/ anonymous? }}
        </div>
      </div>
      <div id="content">
        {{{yield}}}
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>