<h2>
  <span>Sign in</span>
</h2>
<div id="sign_in_notice">
  <p>
    In quot.ly you don’t need to create a new account. 
    You sign in using your existing account in one of the following providers. 
    Just click on the one you want to use:
  </p>
</div>
<form method="post" action="/login" id="providers_signin">
  <button id="login_with_google" type="submit" name="identifier" value="http://www.google.com/accounts/o8/id">
    <span>Google</span>
  </button>
  <button id="login_with_yahoo" type="submit" name="identifier" value="http://www.yahoo.com">
    <span>Yahoo</span>
  </button>
  <button id="login_with_flickr" type="submit" name="identifier" value="http://www.flickr.com">
    <span>Flickr</span>
  </button>
  <button id="login_with_facebook" type="submit" name="provider" value="facebook">
    <span>Facebook</span>
  </button>
</form>
<form method="post" action="/login" id="openid_signin">
  <label for="openid_identifier">Other OpenID provider</label>
  <input type="text" id="openid_identifier" name="identifier" />
  <input type="submit" value="Go!"/>
</form>