<form method="post" action="/quotes" id="new_quote">
  <label for="text">Quote</label>
  <textarea id="text" name="text"></textarea>
  <label for="author">By</label>
  <input type="text" id="author" name="author"/>
  <label for="source">From</label>
  <input type="text" id="source" name="source"/>
  <input type="submit" value="Add quote!"/>
</form>