<div class='quote {{size}}'>
  <blockquote class='text'>
    {{text}}
  </blockquote>
  <div class='author'>
    ~ {{author}} ~
  </div>
  <ul class='actions'>
    {{# amendable? }}
    <li class="amend">
      <a href='{{edit_path}}'>Amend</a>
    </li>
    {{/ amendable? }}
  </ul>
</div>