<div class='quote {{size}}'>
  <blockquote class='text'>
    {{{text}}}
  </blockquote>
  <div class="quote_foot">
    &mdash;<span class='author'>{{author}}</span>{{# source? }},
    <span class='source'>
      &nbsp;{{source}}
    </span>
    {{/ source? }}
  </div>
  
  <ul class='actions'>
    {{# amendable? }}
    <li class="amend">
      <a href='{{edit_path}}'>Amend</a>
    </li>
    {{/ amendable? }}
    
    {{# added_by? }}
    <li class="added_by">
      Added by <a href='{{user_path}}'>{{user_nickname}}</a>
    </li>
    {{/ added_by? }}
    
    <li class="link">
      <a href="{{show_path}}">Link</a>
    </li>
  </ul>

</div>