<div class='quote {{size}}'>
  <blockquote class='text'>
    {{{text}}}
  </blockquote>
  <div class="quote_foot">
    &mdash;<span class='author'>{{author}}</span>{{# source? }},
    <span class='source'>
      &nbsp;{{source}}
    </span>
    {{/ source? }}
  </div>
  {{# amendable? }}
  <ul class='actions'>
    <li class="amend">
      <a href='{{edit_path}}'>Amend</a>
    </li>
  </ul>
  {{/ amendable? }}
  {{# added_by? }}
  <ul class='actions'>
    <li class="added_by">
      Added by <a href='{{user_path}}'>{{user_nickname}}</a>
    </li>
  </ul>
  {{/ added_by? }}
</div>