<form method="post" action="/register" id="register">
  <label for="nickname">Choose a nickname</label>
  <input type="text" id="nickname" name="nickname"/>
  <input type="submit" value="Register!"/>
</form>